.notFound {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto;
}

.notFound__title {
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #000000;
  margin-top: 246px;
  margin-bottom: 0;
}

.notFound__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-top: 4px;
  margin-bottom: 0;
}

.notFound__backLink {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2be080;
  text-decoration: none;
  margin-top: 186px;
}

@media screen and (max-width: 768px) {
  .notFound__title {
    margin-top: 408px;
  }
}

@media screen and (max-width: 320px) {
  .notFound__title {
    margin-top: 476px;
    font-size: 80px;
    line-height: 97px;
  }

  .notFound__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }

  .notFound__backLink {
    font-size: 12px;
    line-height: 15px;
    margin-top: 282px;
  }
}
